@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: #fff;
    --clr-Texto: #000;
    --clr-Whatsapp: #54B036;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    min-height: 100vh;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-Principal);
    font-weight: 600;
}

a:hover {
    color: var(--clr-Secundario);
    font-weight: 600;
}

h6 {
    color: var(--clr-Secundario);
    font-weight: 600;
    font-size: 1rem;
}

.navbar {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
}

.trash {
    color: var(--clr-Principal);
    padding-top: .9rem;
    font-size: 33px;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--clr-FondoSecundario);
    padding-top: 9%;
    padding-bottom: 2%;
    padding-right: 1%;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-Secundario);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    color: var(--clr-Secundario);
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: .95rem;
    font-weight: 600;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-Principal);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-Principal);
}

#principal {
    background-color: var(--clr-Fondo);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-Secundario);
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
}

.carrito-vacio {
    color: var(--clr-Principal);
    font-size: medium;
}

.carrito-comprado-final {
    color: var(--clr-Texto);
    font-size: 1.3rem;
    text-align: justify;
}

.carrito-2 {
    padding-top: 12rem;
}

.boton-carrito {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.boton-carrito.active {
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
}

.boton-whatsapp {
    background-color: var(--clr-Whatsapp);
    color: var(--clr-Aside-Texto);
    position: fixed;
    bottom: 25px;
    left: 140px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    z-index: 9999;
}

.btn-lg {
    color: var(--clr-Aside-Texto);
    padding-left: 13px;
    padding-right: 5%;
    padding-top: 7px;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
    transition: transform 0.3s;
}

.btn-lg:hover {
    color: var(--clr-Aside-Texto);
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-productos-final {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;
    background-color: var(--clr-LogoFondo);
    color: var(--clr-Texto);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 10px;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto-titulo,
.carrito-producto-cantidad,
.carrito-producto-precio,
.carrito-producto-subtotal {
    width: 50%;
    text-align: center;
}

.carrito-producto-titulo br {
    display: none;
    white-space: nowrap;
}

.menos {
    display: flex;
    position: absolute;
    margin-left: 4%;
    font-size: 1.7rem;
}

.mas {
    float: right;
    margin-right: 28%;
    margin-top: -31px;
    font-size: 1.7rem;
}

.menos:hover {
    color: var(--clr-Secundario);
}

.mas:hover {
    color: var(--clr-Principal);
}

.cantidad-numero {
    font-size: 1.2rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-Principal);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-Secundario);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.carrito-acciones-vaciar:hover {
    color: var(--clr-Principal);
    transition: color .2s;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    color: var(--clr-Texto);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: .60rem;
}

.carrito-acciones-total-final {
    display: flex;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    color: var(--clr-Texto);
    text-transform: uppercase;
    border-radius: 1rem;
    margin-bottom: 4%;
    margin-left: 38%;
}

.carrito-total-final {
    display: flex;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    color: var(--clr-Texto);
    text-transform: uppercase;
    border-radius: 1rem;
    margin-top: .70rem;
    margin-bottom: 6%;
    gap: .60rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-Principal);
    padding: 1rem;
    color: var(--clr-Fondo);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: 600;
}

.carrito-acciones-comprar:hover {
    color: var(--clr-Secundario);
    transition: color .2s;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

.text-footer {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.qr {
    border-radius: .3rem;
}

.texto-terminos {
    font-size: .89rem;
}

.redes-sociales {
    margin-bottom: 1.5%;
}

/* media queries */
@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-FondoSecundario);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-Secundario);
    }

    .open-menu,
    .close-menu {
        background-color: transparent;
        color: var(--clr-Secundario);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}