@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: #fff;
    --clr-Texto: #000;
    --clr-Whatsapp: #54B036;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    min-height: 100vh;
}

.material-symbols-outlined {
    font-size: 33px;
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-Principal);
    font-weight: 600;
}

a:hover {
    color: var(--clr-Secundario);
    font-weight: 600;
}

h6 {
    color: var(--clr-Secundario);
    font-weight: 600;
    font-size: 1rem;
}

.navbar {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
}

.trash {
    color: var(--clr-Principal);
    padding-top: .9rem;
    font-size: 33px;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--clr-FondoSecundario);
    padding-top: 9%;
    padding-bottom: 2%;
    padding-right: 1%;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-Secundario);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    color: var(--clr-Secundario);
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: .95rem;
    font-weight: 600;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-Principal);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-Principal);
}

#principal {
    background-color: var(--clr-Fondo);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

#carrito-vacio {
    text-align: center;
    font-size: 1.8rem;
}

.titulo-principal {
    color: var(--clr-Secundario);
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
}

.carrito-vacio {
    color: var(--clr-Principal);
    font-size: medium;
}

.carrito-comprado-final {
    color: var(--clr-Texto);
    font-size: 1.3rem;
    text-align: justify;
}

.carrito-2 {
    padding-top: 12rem;
}

.boton-carrito {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.boton-carrito.active {
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
}

.boton-whatsapp {
    background-color: var(--clr-Whatsapp);
    color: var(--clr-Aside-Texto);
    position: fixed;
    bottom: 25px;
    left: 140px;
    width: 5%;
    height: 77px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    z-index: 9999;
}

.btn-lg {
    color: var(--clr-Aside-Texto);
    padding-left: 13px;
    padding-right: 4.7%;
    padding-top: 7px;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
    transition: transform 0.3s;
}

.btn-lg:hover {
    color: var(--clr-Aside-Texto);
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 17px;
}

.carrito-productos-final {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 17px;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;
    background-color: var(--clr-LogoFondo);
    color: var(--clr-Texto);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 10px;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto-titulo,
.carrito-producto-cantidad,
.carrito-producto-precio,
.carrito-producto-subtotal {
    width: 50%;
    text-align: center;
}

.carrito-producto-titulo br {
    display: none;
    white-space: nowrap;
}

.menos {
    display: flex;
    position: absolute;
    margin-left: 4%;
    font-size: 1.7rem;
}

.mas {
    float: right;
    margin-right: 28%;
    margin-top: -28.8px;
    font-size: 1.7rem;
}

.menos:hover {
    color: var(--clr-Secundario);
}

.mas:hover {
    color: var(--clr-Principal);
}

.cantidad-numero {
    font-size: 1.2rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-Principal);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-Secundario);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.carrito-acciones-vaciar:hover {
    color: var(--clr-Principal);
    transition: color .2s;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    color: var(--clr-Texto);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: .60rem;
}

.carrito-acciones-total-final {
    display: flex;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    color: var(--clr-Texto);
    text-transform: uppercase;
    border-radius: 1rem;
    margin-bottom: 4%;
    margin-left: 38%;
}

.carrito-total-final {
    display: flex;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    color: var(--clr-Texto);
    text-transform: uppercase;
    border-radius: 1rem;
    margin-top: .70rem;
    margin-bottom: 6%;
    gap: .60rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-Principal);
    padding: 1rem;
    color: var(--clr-Fondo);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: 600;
}

.carrito-acciones-comprar:hover {
    color: var(--clr-Secundario);
    transition: color .2s;
}

.estilos-swal {
    background-color: var(--clr-Principal) !important;
    box-shadow: 0 0 10px var(--clr-Principal) !important;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

.text-footer {
    color: var(--clr-Fondo);
}

.text-footer-cana {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.text-footer-redes {
    color: var(--clr-Fondo);
    font-weight: 600;
    padding-left: 16px;
}

.qr {
    border-radius: .3rem;
    display: flex;
    top: 30%;
}

.texto-terminos {
    font-size: 1rem;
}

.redes-sociales {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.redes-sociales:hover {
    color: var(--clr-Secundario);
}

/* media-queries */


/* PC */
@media (min-width: 1680px) {

    * {
        font-size: 20px;
    }

    .navbar {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }

    .mas {
        float: right;
        margin-right: 28%;
        margin-top: -36px;
        font-size: 1.7rem;
    }

    .boton-whatsapp {
        background-color: var(--clr-Whatsapp);
        color: var(--clr-Aside-Texto);
        position: fixed;
        bottom: 45px;
        left: 140px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        z-index: 9999;
    }
}

@media (min-width: 1600px) {

    * {
        font-size: 19px;
    }

    .boton-whatsapp {
        background-color: var(--clr-Whatsapp);
        color: var(--clr-Aside-Texto);
        position: fixed;
        bottom: 45px;
        left: 140px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        z-index: 9999;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 968px) {

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 66%;
    }

    #wrapper {
        margin-top: 8%;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    #principal {
        margin: 1rem;
        margin-top: 0;
        padding: 1rem;
    }

    .carrito-vacio {
        text-align: center;
    }

    .carrito-productos {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-titulo {
        margin-left: 2%;
    }

    .carrito-producto-cantidad,
    .carrito-producto-precio {
        margin-top: 7%;
        margin-bottom: 3%;
    }

    .menos {
        display: flex;
        position: absolute;
        margin-left: 2.5%;
        font-size: 1.7rem;
    }

    .mas {
        float: right;
        margin-right: 16.5%;
    }

    .carrito-producto-subtotal,
    .trash {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: .8rem;
        text-align: center;
    }

    .carrito-acciones-total-final {
        display: flex;
        margin-left: 16%;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .boton-whatsapp {
        position: fixed;
        bottom: 30px;
        left: 70px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        z-index: 9999;
    }

    .btn-lg {
        padding-left: 12px;
        padding-top: 7px;
    }

    .carrito-acciones-total-final {
        display: flex;
        margin-left: 30%;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .text-footer-cana {
        padding-inline-end: 50%;
    }

    .qr {
        padding-inline-start: 6%;
        border-radius: 0;
    }

    .marca-mexicana {
        padding-inline-end: -6%;
        padding-right: 80px;
    }

    .text-footer-redes {
        padding-right: 34%;
    }

    .redes-sociales {
        padding-left: 12%;
    }

    .redes-sociales-responsive {
        padding-left: 0;
    }
}

/* celular */
@media (min-width: 390px) and (max-width: 767.98px) {

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 58%;
    }

    #wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-top: 18%;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-FondoSecundario);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        margin-right: 30%;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-Secundario);
        margin-left: 29%;
        margin-bottom: 3%;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }

    .list {
        color: var(--clr-Secundario);
        font-size: 2.2rem;
    }

    .close-circle {
        color: var(--clr-Principal);
        font-size: 3rem;
    }

    .open-menu {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin-right: 26%;
    }

    .close-menu {
        background-color: transparent;
        border: 0;
        font-weight: 600;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 8.2rem;
        right: 1rem;
        margin-right: -45%;
    }

    #principal {
        margin: 1rem;
        margin-top: 0;
        padding: 1rem;
    }

    .titulo-principal {
        margin-bottom: 2.5rem;
        font-size: 2.8rem;
    }

    #carrito-vacio {
        text-align: center;
        font-size: 1.5rem;
    }

    .carrito-producto {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-imagen {
        margin-left: 14%;
        margin-top: 2%;
    }

    .carrito-producto-titulo {
        margin-left: 6%;
        margin-top: 2%;
    }

    .carrito-producto-cantidad,
    .carrito-producto-precio {
        margin-top: 7%;
        margin-bottom: 3%;
    }

    .menos {
        display: flex;
        position: absolute;
        margin-left: 8%;
        font-size: 1.7rem;
    }

    .mas {
        float: right;
        font-size: 1.7rem;
        margin-right: 21.5%;
        margin-top: -28px;
    }

    .carrito-producto-subtotal,
    .trash {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: .8rem;
        text-align: center;
    }

    .carrito-2 {
        margin-top: 15%;
    }

    .boton-whatsapp {
        position: fixed;
        bottom: 165px;
        left: 90px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        z-index: 9999;
    }

    .btn-lg {
        padding-left: 9px;
        padding-top: 7px;
    }

    .carrito-comprado-final {
        padding-top: 6%;
    }

    .carrito-acciones-total-final {
        display: flex;
        margin-left: 17%;
    }

    .carrito-total-final {
        display: flex;
        margin-left: 14.5%;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .qr {
        margin-left: 21%;
        border-radius: 0;
    }

    .texto-terminos,
    .text-footer {
        margin-left: 8%;
    }

    .marca-mexicana {
        padding-inline-end: 12.5%;
    }

    .text-footer-redes {
        color: var(--clr-Fondo);
        font-weight: 600;
        margin-right: 100px;
    }

    .redes-sociales {
        margin-left: 33%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 29%;
        margin-bottom: 15px;
    }

    .redes-sociales-responsive {
        color: var(--clr-Fondo);
        margin-left: 0;
    }
}

/* celular */
@media (min-width: 350px) and (max-width: 389px) {

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 58%;
    }

    #wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-top: 18%;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-FondoSecundario);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        margin-right: 30%;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-Secundario);
        margin-left: 23%;
        margin-bottom: 3%;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }

    .list {
        color: var(--clr-Secundario);
        font-size: 2.2rem;
    }

    .close-circle {
        color: var(--clr-Principal);
        font-size: 3rem;
    }

    .open-menu {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin-right: 26%;
    }

    .close-menu {
        background-color: transparent;
        border: 0;
        font-weight: 600;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 8.2rem;
        right: 1rem;
        margin-right: -50%;
    }

    #principal {
        margin: 1rem;
        margin-top: 0;
        padding: 1rem;
    }

    .titulo-principal {
        margin-bottom: 2.5rem;
        font-size: 2.8rem;
    }

    #carrito-vacio {
        text-align: center;
        font-size: 1.5rem;
    }

    .carrito-producto {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-imagen {
        margin-left: 14%;
        margin-top: 2%;

    }

    .carrito-producto-titulo {
        margin-left: 6%;
        margin-top: 2%;
    }

    .carrito-producto-cantidad,
    .carrito-producto-precio {
        margin-top: 7%;
        margin-bottom: 3%;
    }

    .menos {
        display: flex;
        position: absolute;
        margin-left: 7%;
        font-size: 1.7rem;
    }

    .mas {
        float: right;
        margin-right: 18%;
        margin-top: -29px;
        font-size: 1.7rem;
    }

    .carrito-producto-subtotal,
    .trash {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: .8rem;
        text-align: center;
    }

    .carrito-acciones-total-final {
        display: flex;
        margin-left: 16%;
    }

    .carrito-2 {
        margin-top: 15%;
    }

    .boton-whatsapp {
        position: fixed;
        bottom: 165px;
        left: 90px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        z-index: 9999;
    }

    .btn-lg {
        padding-left: 9px;
        padding-top: 7px;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .qr {
        margin-left: 21%;
        border-radius: 0;
    }

    .texto-terminos,
    .text-footer {
        margin-left: 8%;
    }

    .marca-mexicana {
        padding-inline-end: 12.5%;
    }

    .text-footer-redes {
        color: var(--clr-Fondo);
        font-weight: 600;
        margin-right: 100px;
    }

    .redes-sociales {
        margin-left: 33%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 29%;
        margin-bottom: 15px;
    }

    .redes-sociales-responsive {
        color: var(--clr-Fondo);
        margin-left: 0;
    }
}