@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h3 {
    color: var(--clr-Secundario);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 101px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #F9F8EC, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    transition: color 0.3s;
}

.btn:hover {
    color: var(--clr-Secundario);
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
    transition: color 0.3s;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.texto-titulo-contacto {
    color: var(--clr-Secundario);
    font-size: 3rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.texto-contacto {
    font-size: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 19.5rem;
    padding-right: 20rem;
    text-align: justify;
    text-justify: inter-word;
}

.btn-formulario {
    width: 30%;
    margin-left: 30.8rem;
}

.text-footer {
    color: var(--clr-Fondo);
    font-weight: 500;
}

.qr {
    border-radius: .3rem;
}

.texto-terminos {
    font-size: 1rem;
}

.redes-sociales {
    margin-bottom: 1.5%;
}

/* media-queries */

/* Tablet */
@media (min-width: 768px) and (max-width: 968px) {
    h1 {
        text-align: center;
    }

    .navbar-toggler {
        margin-inline-end: 27.5%;
        size: 35px;
    }

    #numero {
        margin-bottom: 4%;
        margin-inline-start: 25.5%;
    }

    .texto-titulo-contacto {
        padding-right: 25%;
    }

    .texto-contacto {
        width: 111%;
        padding-left: 7%;
        justify-content: center;
    }

    .form-control {
        width: 70%;
        left: 58%;
    }

    .label-responsive {
        padding-right: 35%;
    }

    .label-opciones-responsive {
        margin-right: 35%;
    }

    .formulario-responsive {
        width: 28%;
        margin-inline-start: 16.5%;
        margin-right: 5%;
    }

    .boton-responsive {
        margin-right: 35%;
    }

    .texto-contacto-terminos {
        width: 60%;
        margin-inline-start: 4%;
        justify-content: center;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 19%;
    }

    .qr {
        padding-inline-start: 3%;
    }

    .marca-mexicana {
        padding-inline-end: 7%;
    }

    .redes-sociales-iconos {
        padding-inline-start: 25px;
    }
}

/* Celular */
@media (min-width: 400px) and (max-width: 767.98px) {
    h1 {
        text-align: center;
    }

    .navbar-toggler {
        margin-inline-end: 30%;
        size: 35px;
    }

    #numero {
        margin-bottom: 4%;
        margin-inline-start: 25.5%;
    }

    .texto-contacto {
        width: 170%;
        padding-left: 14%;
    }

    .formulario-responsive {
        width: 63%;
        margin-left: 37%;
    }

    .boton-responsive {
        padding-left: 2.5%;
    }

    .container-fluid-footer {
        text-align: center;
    }

    .qr {
        margin-left: 2%;
        margin-bottom: 15px;
    }

    .marca-mexicana {
        margin-right: 10%;
    }

    .redes-sociales-iconos {
        margin-left: 225%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 18%;
    }
}