@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-Principal);
    font-weight: 600;
}

a:hover {
    color: var(--clr-Secundario);
    font-weight: 600;
}

h1 {
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h3 {
    color: var(--clr-Secundario);
    font-size: 1.6rem;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 88px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #F9F8EC, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.navbar {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    transition: color 0.3s;
}

.btn:hover {
    color: var(--clr-Secundario);
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
    transition: color 0.3s;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.titulo-envios {
    text-align: center;
    text-decoration: underline overline var(--clr-Principal);
    text-underline-offset: 12px;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 600;
    font-size: 2.8rem;
}

.texto-envios {
    font-size: 1.4rem;
    margin-top: 2.5rem;
    margin-left: 12%;
    margin-right: 12%;
    padding-bottom: 8%;
    text-align: justify;
    text-justify: inter-word;
}

.texto-regla {
    margin-left: 27.5%;
}

.imagen-envios {
    width: 50%;
    height: 550px;
    border-radius: 20px;
    margin-left: 25%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.text-footer {
    color: var(--clr-Fondo);
}

.text-footer-cana {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.text-footer-redes {
    color: var(--clr-Fondo);
    font-weight: 600;
    padding-left: 16px;
}

.qr {
    border-radius: .3rem;
    display: flex;
    top: 30%;
}

.texto-terminos {
    font-size: 1rem;
}

.redes-sociales {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.redes-sociales:hover {
    color: var(--clr-Secundario);
}

/* media-queries */

/* Tablet */
@media (min-width: 768px) and (max-width: 968px) {
    h1 {
        text-align: center;
    }

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 66%;
    }

    .texto-envios {
        margin-bottom: 8%;
    }

    .texto-regla {
        margin-left: 0;
        text-align: center;
    }

    .imagen-envios {
        width: 100%;
        height: 50%;
        margin-left: 1px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .text-footer-cana {
        padding-inline-end: 50%;
    }

    .qr {
        padding-inline-start: 6%;
        border-radius: 0;
    }

    .marca-mexicana {
        padding-inline-end: -6%;
        padding-right: 80px;
    }

    .text-footer-redes {
        padding-right: 34%;
    }

    .redes-sociales {
        padding-left: 12%;
    }

    .redes-sociales-responsive {
        padding-left: 0;
    }
}

/* Celular */
@media (min-width: 350px) and (max-width: 767.98px) {
    h1 {
        text-align: center;
    }

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 59%;
    }

    .titulo-envios {
        margin-top: 5%;
    }

    .texto-envios {
        margin-bottom: 9%;
    }

    .mapa-responsive {
        width: 100%;
        height: 50;
        border: 0;
    }

    .texto-regla {
        margin-left: 0;
        text-align: center;
    }

    .imagen-envios {
        width: 100%;
        height: 50%;
        margin-left: 1px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .container-fluid-footer {
        text-align: center;
    }

    .qr {
        margin-left: 40px;
        border-radius: 0;
    }

    .marca-mexicana {
        margin-right: 10%;
    }

    .text-footer-redes {
        margin-right: 43%;
        justify-content: center;
    }

    .redes-sociales {
        margin-left: 31%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 18%;
        margin-bottom: 15px;
    }

    .redes-sociales-responsive {
        margin-left: 0;
    }
}