* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 3.5rem !important;
    font-family: 'Raleway', sans-serif;
    text-align: center !important;
}

h2 {
    margin: 0;
    font-size: 2rem !important;
    font-family: 'Raleway', sans-serif;
    text-align: center !important;
    color: #334A61 !important;
}

h3 {
    margin: 0;
    font-size: 1.5rem !important;
    font-family: 'Raleway', sans-serif;
    text-align: center !important;
    color: #334A61 !important;
}

h5 {
    font-size: 1.5rem !important;
    font-family: 'Raleway', sans-serif;
}

.Texto-Tarjetas {
    padding-top: 1.5%;
    font-size: 1rem !important;
    font-family: 'Gadugi', sans-serif;
    text-align: center;
    text-justify: inter-word;
}

.Texto-Principal-div {
    padding-top: 3.5%;
    padding-bottom: 3%;
}
.Texto-Principal {
    padding-top: 1%;
    font-size: 1.3rem !important;
    font-family: 'Gadugi', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
    text-align: justify;
    text-justify: inter-word;
}
.Texto-CuidadoBarras {
    padding-top: 1%;
    font-size: 1.5rem !important;
    font-family: 'Gadugi', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}

.nav-link:hover {
    color: #334A61 !important;
}

.dropdown-item:hover {
    color: #334A61 !important;
}

ion-icon {
    font-size: 28px;
}

.buscar input {
    max-width: 180px;
    height: 28px;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 120px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #F9F8EC, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
    font-family: 'Gadugi', sans-serif;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* @media (min-width: 1280px) {
    .grid-container {
        grid-template:
            "header  header header"100px "navbar  main   sidebar"auto "footer  footer footer"100px / 200px auto 200px;
    }
} */

/* @media screen and (max-width: 1028px) {


    .gallery img {
        width: 200px;
    }

    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }
} */

@media screen and (max-width:480px) {
    h1 {
        text-align: center;
    }

    .navbar-custom {
        height: auto;
    }

    .lista-diferenciales,
    .imagen-diferenciales {
        width: 100%;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: auto;
    height: auto;
    padding: 3% 2%;
}

.card-video {
    text-align: center;
    width: 450px !important;
    height: 600px !important;

}

.grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding-top: 2%;
}

#cuidado_can치 {
    display: flex;
    text-align: center;
    object-fit: cover;
    padding-top: 60px;
    width: 104%;
    height: 500px;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
}

.center-img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
}

.banner-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F9F8EC;
}

@media (max-width: 767px) {
    .banner-img {
        width: 100%;
        height: auto;
    }

    .center-img {
        width: 100%;
        height: auto;
    }

    .banner-text {
        width: 100%;
        height: auto;
    }

    .img-fluid {
        width: 100% !important;
        height: auto;
    }

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    overflow-x: auto;
}

@media (min-width: 769px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }

}


.grid-container img {
    width: 100%;
}

#informaci칩n {
    padding: 100px;
    padding-top: 3.6%;
    padding-bottom: 3.5%;
    text-align: center;
}

.info-column {
    padding: 3% 2%;
}

.Cat치logo {
    margin: 20px;
    width: 125px;
    cursor: pointer;
}

.Cat치logoimagen {
    margin: 20px;
    width: 200px;
    height: fit-content;
}


.title {
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.my-image {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
