@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--clr-Secundario)
}

h3 {
    color: var(--clr-Secundario);
    font-size: 1.4rem;
    text-align: center;
}

h5 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 101px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #F9F8EC, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito{
    margin-bottom: 80%;
    right: 20%;
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.row-galeria {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(1, 4fr);
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 3.3%;
    padding-right: 3%;
}

.column {
    flex: 50%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 18px;
    padding-top: 3%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 1rem;
    width: 20rem;
    height: 20rem;
}

.zoomable {
    transition: transform 0.5s;
}

.zoomable:hover {
    transform: scale(1.2);
}

.sombra-item {
    position: relative;
    display: inline-block;
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.sombra-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}


.flotar-item {
    position: relative;
    display: inline-block;
}

.flotar-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.flotar-item:hover {
    transform: translateY(-20px);
    animation: bounce 0.5s ease-in-out;
}

.text-footer {
    color: var(--clr-Fondo);
}

.texto-terminos{
    font-size: .92rem;
}

.redes-sociales{
    margin-bottom: 1.5%;
}

/* media queries */
@keyframes flotar-item {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@media screen and (max-width: 750px) {
    .column {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (max-width: 400px) {
    .column {
        grid-template-columns: repeat(1, 1fr);
    }
}