@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h3 {
    color: var(--clr-Secundario);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 101px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #F9F8EC, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    transition: color 0.3s;
}

.btn:hover {
    color: var(--clr-Secundario);
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
    transition: color 0.3s;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-img {
    width: 33.33%;
    height: 43rem;
    object-fit: cover;
}

.center-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
}

.banner-texto {
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 60rem;
}

.Texto-Principal-div {
    padding-top: 6%;
    padding-bottom: 3%;
    margin-left: 7rem;
    margin-right: 7rem;
}

.Texto-Principal {
    padding-top: 1%;
    padding-bottom: 4%;
    font-size: 1.4rem;
    margin-left: 9rem;
    margin-right: 9rem;
    text-align: justify;
    text-justify: inter-word;
}

.grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, 5fr);
    grid-gap: 16px;
    padding-top: 2%;
    overflow-x: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

.grid-container img {
    width: 100%;
}

#información {
    padding: 100px;
    padding-top: 3.6%;
    padding-bottom: 1%;
    text-align: center;
}

.info-column {
    padding: 3% 2%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.Texto-Tarjetas {
    padding-top: 5%;
    padding-bottom: 8%;
    font-size: 1rem;
    text-align: center;
}

.card-img,
.card-video {
    width: 30rem;
    height: 40rem;
}

.card-button {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
    transition: color 0.3s;
    transition: ease-in-out 0.2s;
}

.card-button:hover {
    color: var(--clr-Secundario);
}

.btn-lg {
    transition: transform 0.3s;
}

.btn-lg:hover {
    transform: scale(1.2);
}

.tarjetas-fondo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.container-barras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    padding-top: 7%;
    padding-bottom: 9%;
}

.container-barras img {
    width: 100%;
}

.Texto-CuidadoBarras {
    padding-top: 1%;
    font-size: 1.5rem;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}

.item-barras {
    padding-top: 0%;
    width: 50%;
    justify-content: center;
}

.text-footer {
    color: var(--clr-Fondo);
    font-weight: 500;
}

.qr {
    border-radius: .3rem;
}

.texto-terminos {
    font-size: 1rem;
}

.redes-sociales {
    margin-bottom: 1.5%;
}

/* media-queries */

/* Tablet */
@media (min-width: 768px) and (max-width: 968px) {
    h1 {
        text-align: center;
    }

    .navbar-toggler {
        margin-inline-end: 23%;
        size: 35px;
    }

    #numero {
        margin-bottom: 4%;
        margin-inline-start: 25.5%;
    }

    .banner-img,
    .img-fluid {
        width: 100%;
        height: auto;
    }

    .center-img {
        width: 100%;
        padding-right: 17%;
        height: auto;
        top: 40%;
    }

    .banner-texto {
        width: 105%;
        height: auto;
        top: 65%;
        padding-right: 20.5%;
    }

    .Texto-Principal-div {
        text-align: center;
        margin: 0;
        margin-left: 5%;
        margin-right: 21%;
        margin-top: 15px;
    }

    .Texto-Principal {
        text-align: justify;
        margin: 0;
        margin-left: 5%;
        margin-right: 21%;
        margin-top: 15px;
    }

    .grid-texto-responsive {
        margin-right: 15%;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        justify-content: center;
        padding-left: 5%;
        padding-right: 20%;
    }

    .grid-container img.grid-container-responsive {
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 50%;
        margin-left: 23%;
        align-content: center;
    }

    #información {
        padding-right: 20%;
        padding-left: 4%;
    }

    .card-responsive-catalogo,
    .card-responsive-galeria,
    .card-responsive-mascotas {
        width: 60%;
        margin-left: 20%;
    }

    .card-img {
        width: 20rem;
        height: 30rem;
    }

    .card-video {
        flex-basis: 100%;
        width: 140%;
        padding-right: 40%;
        margin-top: 23%;
    }

    .titulo-cuidadobarras {
        text-align: center;
        margin-right: 20%;
        margin-left: 5%;
    }

    .Texto-CuidadoBarras {
        text-align: center;
        margin-right: 25%;
        margin-top: 15px;
    }

    .item-barras {
        width: 100%;
        margin-right: 16%;
    }

    #reembolso {
        margin-inline-end: 21%;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 19%;
    }

    .qr {
        padding-inline-start: 3%;
    }

    .marca-mexicana {
        padding-inline-end: 7%;
    }

    .redes-sociales-iconos {
        padding-inline-start: 25px;
    }
}

/* Celular */
@media (min-width: 400px) and (max-width: 767.98px) {
    h1 {
        text-align: center;
    }

    .navbar-toggler {
        margin-inline-end: 30%;
        size: 35px;
    }

    #numero {
        margin-bottom: 4%;
        margin-inline-start: 25.5%;
    }

    .banner-img,
    .img-fluid {
        width: 100%;
        height: auto;
    }

    .center-img {
        width: 100%;
        height: auto;
        top: 30%;
    }

    .banner-texto {
        width: 104%;
        height: auto;
        top: 50%;
        padding-right: 4%;
    }

    .Texto-Principal-div {
        text-align: center;
        margin: 0 auto;
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 15px;
    }

    .Texto-Principal {
        text-align: justify;
        margin: 0 auto;
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 15px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 5fr);
        grid-template-rows: auto;
        justify-content: center;
        padding-left: 8%;
        padding-right: 5%;
    }

    #información {
        flex-basis: 100%;
        width: 125%;
        padding-right: 35%;
        padding-left: 10%;
    }

    .card-img {
        flex-basis: 100%;
        width: 135%;
        padding-right: 35%;
    }

    .card-video {
        flex-basis: 100%;
        width: 155%;
        padding-right: 55%;
        padding-top: 10%;
    }

    .Texto-CuidadoBarras {
        text-align: justify;
        margin: 0 auto;
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 15px;
    }

    .item-barras {
        width: 100%;
    }

    #reembolso {
        margin-right: 70%;
    }

    .politicas-responsive {
        width: fit-content;
        height: fit-content;
        justify-content: center;
        margin-right: 30%;
    }

    .politicas-reembolso-responsive {
        width: fit-content;
        height: fit-content;
        justify-content: center;
        margin-left: 20%;
    }

    .accordion {
        width: 390px;
    }

    .container-fluid-footer {
        text-align: center;
    }

    .qr {
        margin-left: 2%;
        margin-bottom: 15px;
    }

    .marca-mexicana {
        margin-right: 10%;
    }

    .redes-sociales-iconos {
        margin-left: 225%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 18%;
    }
}