@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h3 {
    color: var(--clr-Secundario);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 88px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #F9F8EC, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.navbar {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    transition: color 0.3s;
}

.btn:hover {
    color: var(--clr-Secundario);
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
    transition: color 0.3s;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-img {
    width: 33.33%;
    height: 43rem;
    object-fit: cover;
}

.center-img {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21.5rem;
}

.banner-texto {
    position: absolute;
    top: 83%;
    left: 51.7%;
    transform: translate(-50%, -50%);
    width: 59rem;
}

.arrow-up {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: solid;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 86%;
    left: 48%;
    border-bottom-color: var(--clr-Aside-Texto);
    border-right-color: var(--clr-Principal);
}

.arrow-down {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: solid;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 92%;
    left: 48%;
    border-bottom-color: var(--clr-Principal);
    border-right-color: var(--clr-Aside-Texto);
}

#encabezado {
    scroll-margin-top: 56px;
}

/* media-queries */

/* Laptop */
@media (min-width: 1025px) {
    .Texto-Principal-div {
        padding-top: 6%;
        padding-bottom: 3%;
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .Texto-Principal {
        padding-top: 1%;
        padding-bottom: 4%;
        font-size: 1.8rem;
        margin-left: 11%;
        margin-right: 11%;
        text-align: justify;
        text-justify: inter-word;
    }

    .grid-texto {
        font-size: 3.4rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .grid-container {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(5, 5fr);
        grid-gap: 16px;
        overflow-x: auto;
        padding-top: 4%;
        padding-bottom: 3%;
    }

    .grid-container img {
        width: 100%;
    }

    .grid-container-tarjetas {
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-columns: repeat(3, 3fr);
        padding-top: 5%;
        padding-bottom: 3%;
        gap: 2%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .card-text {
        padding-top: 5%;
        padding-bottom: 8%;
        padding-right: 3%;
        padding-left: 3%;
        font-size: 1rem;
        text-align: center;
    }

    .btn-lg {
        font-weight: 600;
        font-size: 1.15rem;
        transition: color 0.3s;
        transition: transform 0.3s;
    }

    .btn-lg:hover {
        color: var(--clr-Secundario);
        transform: scale(1.2);
    }

    .tarjetas-fondo {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .imagen-video {
        gap: 2%;
        padding-left: 12%;
        padding-right: 6%;
        margin-top: 4%;
    }

    .tarjeta-imagen {
        width: 79%;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .Texto-Tarjetas {
        font-size: 1.3rem;
    }

    .card-video {
        width: 83%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .container-barras {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5%;
        padding-top: 7%;
        padding-bottom: 9%;
    }

    .container-barras img {
        width: 100%;
    }

    .titulo-cuidadobarras {
        font-size: 3.4rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .Texto-CuidadoBarras {
        padding-top: 2%;
        font-size: 1.7rem;
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
    }

    .item-barras {
        padding-top: 0%;
        width: 50%;
        justify-content: center;
    }

    .text-footer {
        color: var(--clr-Fondo);
        font-weight: 500;
    }

    .qr {
        border-radius: .3rem;
    }

    .texto-terminos {
        font-size: 1rem;
    }

    .redes-sociales {
        margin-bottom: 1.5%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        text-align: center;
    }

    .navbar-toggler {
        margin-inline-end: 6%;
        size: 35px;
    }

    #numero {
        margin-bottom: 4%;
        margin-inline-start: 25.5%;
    }

    .banner-img,
    .img-fluid {
        width: 50rem;
        height: 53rem;
        object-fit: fill;
    }

    .center-img {
        width: 55%;
        height: auto;
        top: 42%;
    }

    .banner-texto {
        width: 105%;
        height: auto;
        top: 81%;
        padding-right: 5%;
        padding-left: 2%;
    }

    .Texto-Principal-div {
        text-align: center;
        margin: 0 auto;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 5%;
        padding-bottom: 4%;
    }

    .Texto-Principal {
        text-align: justify;
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.6rem;
    }

    .grid-texto {
        font-size: 3.4rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .grid-container {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        grid-gap: 16px;
        overflow-x: auto;
        padding-top: 4%;
        padding-bottom: 3%;
        justify-content: center;
        padding-left: 3%;
        padding-right: 3%;
    }

    .grid-container img.grid-container-responsive {
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 50%;
        margin-left: 23%;
        align-content: center;
    }

    .gridimg-responsive,
    .gridimg1-responsive {
        margin-left: 4%;
    }

    .grid-container-tarjetas {
        grid-template-columns: repeat(1, 3fr);
        display: grid;
        text-align: center;
        justify-content: center;
        gap: 1%;
        padding-right: 3%;
        padding-left: 3%;
    }

    .card-text {
        padding-top: 5%;
        padding-bottom: 8%;
        padding-right: 3%;
        padding-left: 3%;
        font-size: 1rem;
        text-align: center;
    }

    .btn-lg {
        font-weight: 600;
        font-size: 1.15rem;
        transition: color 0.3s;
        transition: transform 0.3s;
    }

    .btn-lg:hover {
        color: var(--clr-Secundario);
        transform: scale(1.2);
    }

    .tarjetas-fondo {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .imagen-video {
        gap: 2%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 18%;
    }

    .tarjeta-imagen {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .card-title,
    .Texto-Tarjetas {
        font-size: 2rem;
    }

    .card-video {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 11%;
        padding-bottom: 12%;
    }

    .titulo-cuidadobarras {
        font-size: 3.4rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .titulo-cuidadobarras {
        width: 100%;
        text-align: center;
    }

    .Texto-CuidadoBarras {
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        padding-top: 8%;
    }

    .container-barras img {
        width: 100%;
    }

    .item-barras {
        padding-top: 0%;
        width: 100%;
        justify-content: center;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .text-footer {
        color: var(--clr-Fondo);
        font-weight: 500;
    }

    .qr {
        padding-inline-start: 3%;
    }

    .marca-mexicana {
        padding-inline-end: 4%;
    }

    .redes-sociales-iconos {
        margin-left: 125%;
        padding-inline-start: 25px;
    }
}

/* Celular */
@media (min-width: 350px) and (max-width: 767.98px) {
    h1 {
        text-align: center;
    }

    .navbar-toggler {
        margin-inline-end: 4%;
        size: 35px;
    }

    #numero {
        margin-bottom: 4%;
        margin-inline-start: 25.5%;
    }

    .banner-img,
    .img-fluid {
        width: 100%;
        height: 20rem;
    }

    .center-img {
        width: 50%;
        height: auto;
        top: 32%;
    }

    .banner-texto {
        width: 104%;
        height: auto;
        top: 55%;
        padding-right: 5%;
        padding-left: 2%;
    }

    .arrow-up,
    .arrow-down {
        visibility: hidden;
    }

    .Texto-Principal-div {
        text-align: center;
        margin: 0 auto;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 10%;
        padding-bottom: 4%;
        font-size: 2rem;
    }

    .Texto-Principal {
        text-align: justify;
        margin: 0 auto;
        padding-left: 8%;
        padding-right: 8%;
        margin-top: 15px;
    }

    .grid-texto-responsive {
        padding-bottom: 8%;
        font-size: 2.1rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .grid-container {
        grid-template-columns: repeat(1, 5fr);
        grid-template-rows: auto;
        justify-content: center;
        width: auto;
        padding-left: 1.5%;
        padding-right: 2%;
        padding-bottom: 11%;
    }

    .gridimg-responsive {
        width: 95%;
        margin-left: 4%;
    }

    .gridimg1-responsive {
        margin-left: 1.5%;
    }

    .grid-container-tarjetas {
        grid-template-columns: repeat(1, 3fr);
        display: grid;
        text-align: center;
        justify-content: center;
        gap: 1%;
        padding-right: 3%;
        padding-left: 3%;
    }

    .card-text {
        padding-top: 5%;
        padding-bottom: 8%;
        padding-right: 3%;
        padding-left: 3%;
        font-size: 1rem;
        text-align: center;
    }

    .btn-lg {
        font-weight: 600;
        font-size: 1.15rem;
        transition: color 0.3s;
        transition: transform 0.3s;
    }

    .btn-lg:hover {
        color: var(--clr-Secundario);
        transform: scale(1.2);
    }

    .tarjetas-fondo {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .imagen-video {
        gap: 2%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 18%;
    }

    .tarjeta-imagen {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .card-video {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 11%;
        padding-bottom: 12%;
    }

    .titulo-cuidadobarras{
        font-size: 2.1rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .Texto-CuidadoBarras {
        text-align: center;
        margin: 0 auto;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 3%;
    }

    .container-barras img {
        width: 100%;
    }

    #reembolso {
        margin-right: 70%;
    }

    .politicas-responsive {
        width: fit-content;
        height: fit-content;
        justify-content: center;
        margin-right: 30%;
    }

    .politicas-reembolso-responsive {
        width: fit-content;
        height: fit-content;
        justify-content: center;
        margin-left: 20%;
    }

    .accordion {
        width: 390px;
    }

    .container-fluid-footer {
        text-align: center;
    }

    .text-footer {
        color: var(--clr-Fondo);
        font-weight: 500;
    }

    .qr {
        margin-left: 2%;
        margin-bottom: 15px;
    }

    .marca-mexicana {
        margin-right: 10%;
    }

    .redes-sociales-iconos {
        margin-left: 225%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 18%;
    }
}
