@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h3 {
    color: var(--clr-Secundario);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 88px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #FCEFE5, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.navbar {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    transition: color 0.3s;
}

.btn:hover {
    color: var(--clr-Secundario);
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
    transition: color 0.3s;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-img {
    width: 33.33%;
    height: 729px;
    object-fit: cover;
}

.center-img {
    position: absolute;
    width: 24%;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-texto {
    position: absolute;
    width: 75%;
    top: 81%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.arrow-up {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: solid;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 85%;
    left: 48%;
    border-bottom-color: var(--clr-Aside-Texto);
    border-right-color: var(--clr-Principal);
    cursor: pointer;
}

.arrow-down {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: solid;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 91%;
    left: 48%;
    border-bottom-color: var(--clr-Principal);
    border-right-color: var(--clr-Aside-Texto);
    cursor: pointer;
}

#encabezado {
    scroll-margin-top: 80px;
}

/* media-queries */

/* Laptop */
@media (min-width: 1025px) {

    .Texto-Principal-div {
        padding-top: 6%;
        padding-bottom: 3%;
        margin-left: 7rem;
        margin-right: 7rem;
        font-size: 3rem;
    }

    .Texto-Principal {
        padding-top: 1%;
        padding-bottom: 4%;
        font-size: 1.75rem;
        margin-left: 11%;
        margin-right: 11%;
        text-align: justify;
        text-justify: inter-word;
    }

    .grid-texto {
        font-size: 3.4rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .grid-container {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(5, 5fr);
        grid-gap: 16px;
        overflow-x: auto;
        padding-top: 4%;
        padding-bottom: 6%;
    }

    .grid-container img {
        width: 100%;
    }

    .grid-container-tarjetas {
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-columns: repeat(3, 3fr);
        padding-top: 6%;
        gap: 2%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .card-text {
        padding-top: 5%;
        padding-bottom: 8%;
        padding-right: 3%;
        padding-left: 3%;
        font-size: 1rem;
        text-align: center;
    }

    .btn-lg {
        font-weight: 600;
        font-size: 1.15rem;
        transition: color 0.3s;
        transition: transform 0.3s;
    }

    .btn-lg:hover {
        color: var(--clr-Secundario);
        transform: scale(1.2);
    }

    .tarjetas-fondo {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    #carouselExampleDark {
        width: 80%;
        margin-left: 10%;
        margin-right: 1%;
        margin-bottom: 6%;
    }

    .btn-lg-envios {
        font-weight: 600;
        font-size: 1.70rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .imagen-video {
        gap: 2%;
        padding-left: 12%;
        padding-right: 6%;
        margin-top: 4%;
    }

    .tarjeta-imagen {
        width: 83%;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .Texto-Tarjetas {
        font-size: 1.3rem;
    }

    .card-video {
        width: 86.5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .container-barras {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5%;
        padding-top: 7%;
        padding-bottom: 9%;
    }

    .container-barras img {
        width: 100%;
    }

    .titulo-cuidadobarras {
        font-size: 3.4rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .Texto-CuidadoBarras {
        padding-top: 2%;
        font-size: 1.7rem;
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
    }

    .item-barras {
        padding-top: 0%;
        width: 50%;
        justify-content: center;
    }

    .text-footer {
        color: var(--clr-Fondo);
    }

    .text-footer-cana {
        color: var(--clr-Fondo);
        font-weight: 600;
    }

    .text-footer-redes {
        color: var(--clr-Fondo);
        font-weight: 600;
        padding-left: 16px;
    }

    .qr {
        border-radius: .3rem;
        display: flex;
        top: 30%;
    }

    .texto-terminos {
        font-size: 1rem;
    }

    .redes-sociales {
        color: var(--clr-Fondo);
        font-weight: 600;
    }

    .redes-sociales:hover {
        color: var(--clr-Secundario);
    }
}

/* PC */
@media (min-width: 1680px) {

    * {
        font-size: 20px;
    }

    .navbar {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }

    .banner-img {
        width: 33.33%;
        height: 970px !important;
        object-fit: cover;
    }
}

@media (min-width: 1440px) {

    .banner-img {
        width: 33.33%;
        height: 810px;
        object-fit: cover;
    }

    .Texto-Principal-div {
        font-size: 2.8rem;
    }
}

@media (min-width: 1600px) {

    * {
        font-size: 19px;
    }

    .banner-img {
        width: 33.33%;
        height: 810px;
        object-fit: cover;
    }

    .Texto-Principal-div {
        font-size: 2.8rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

    h1 {
        text-align: center;
    }

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 66%;
    }

    .banner-img,
    .img-fluid {
        max-width: 100%;
        width: 100%;
        height: 40.5rem;
        object-fit: cover;
    }

    .center-img {
        max-width: 100%;
        width: 40%;
        height: auto;
        top: 44%;
    }

    .banner-texto {
        max-width: 100%;
        width: 95%;
        height: auto;
        top: 82%;
        padding-right: 5%;
        padding-left: 2%;
    }

    .arrow-up {
        top: 85%;
        width: 45px;
        height: 45px;
    }

    .arrow-down {
        top: 91%;
        width: 45px;
        height: 45px;
    }

    #encabezado {
        scroll-margin-top: 60px;
    }

    .Texto-Principal-div {
        text-align: center;
        margin: 0 auto;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 5%;
        padding-bottom: 4%;
    }

    .Texto-Principal {
        text-align: justify;
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.6rem;
    }

    .grid-texto {
        font-size: 3.4rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .grid-container {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        grid-gap: 16px;
        overflow-x: auto;
        padding-top: 4%;
        padding-bottom: 3%;
        justify-content: center;
        padding-left: 3%;
        padding-right: 3%;
    }

    .grid-container img {
        width: 100%;
        height: 100%;
    }

    .grid-container-tarjetas {
        grid-template-columns: repeat(1, 3fr);
        display: grid;
        text-align: center;
        justify-content: center;
        gap: 1%;
        padding-right: 3%;
        padding-left: 15%;
        width: 90%;
        height: 65%;
        margin-bottom: 8%;
    }

    #carouselExampleDark {
        width: 90%;
        height: 150px;
        margin-left: 5.3%;
        margin-bottom: 26%;
    }

    .carousel-indicators {
        margin-bottom: -38%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin-bottom: -48%;
    }

    .btn-lg-envios {
        margin-bottom: -5%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .card-text {
        padding-top: 5%;
        padding-bottom: 8%;
        padding-right: 3%;
        padding-left: 3%;
        font-size: 1rem;
        text-align: center;
    }

    .btn-lg {
        font-weight: 600;
        font-size: 1.15rem;
        transition: color 0.3s;
        transition: transform 0.3s;
    }

    .btn-lg:hover {
        color: var(--clr-Secundario);
        transform: scale(1.2);
    }

    .tarjetas-fondo {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .imagen-video {
        gap: 2%;
        padding-left: 15%;
        padding-right: 3%;
        padding-top: 18%;
        width: 90%;
        height: 65%;
    }

    .tarjeta-imagen {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .card-title {
        font-size: 2rem;
    }

    .Texto-Tarjetas {
        font-size: 1.6rem;
    }

    .card-video {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 11%;
        padding-bottom: 12%;
    }

    .titulo-cuidadobarras {
        font-size: 3.4rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .titulo-cuidadobarras {
        width: 100%;
        text-align: center;
    }

    .Texto-CuidadoBarras {
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        padding-top: 8%;
    }

    .container-barras img {
        width: 100%;
    }

    .item-barras {
        padding-top: 0%;
        width: 100%;
        justify-content: center;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .text-footer {
        color: var(--clr-Fondo);
    }

    .text-footer-cana {
        padding-inline-end: 52%;
        color: var(--clr-Fondo);
        font-weight: 600;
    }

    .qr {
        padding-inline-end: -6%;
        margin-right: 66px;
        border-radius: 0;
    }

    .texto-terminos {
        font-size: 1rem;
    }

    .marca-mexicana {
        padding-inline-end: -6%;
        padding-right: 80px;
    }

    .text-footer-redes {
        padding-right: 30%;
        color: var(--clr-Fondo);
        font-weight: 600;
    }

    .redes-sociales {
        padding-left: 12%;
    }

    .redes-sociales-responsive {
        color: var(--clr-Fondo);
        font-weight: 600;
        padding-left: 0;
    }
}

/* Celular */
@media (min-width: 350px) and (max-width: 767.98px) {

    h1 {
        text-align: center;
    }

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 59%;
    }

    .banner-img,
    .img-fluid {
        max-width: 100%;
        width: 100%;
        height: 465px;
        padding-right: 0;
    }

    .center-img {
        max-width: 100%;
        width: 60%;
        height: auto;
        top: 39%;
    }

    .banner-texto {
        max-width: 100%;
        width: 95%;
        height: auto;
        top: 68%;
        padding-right: 2%;
    }

    .arrow-up,
    .arrow-down {
        visibility: hidden;
    }

    .Texto-Principal-div {
        text-align: center;
        margin: 0 auto;
        margin-left: 8%;
        margin-right: 8%;
        padding-top: 6%;
        padding-bottom: 4%;
        font-size: 1.7rem;
    }

    .Texto-Principal {
        text-align: justify;
        margin: 0 auto;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 15px;
    }

    .grid-texto-responsive {
        padding-bottom: 8%;
        font-size: 2.1rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .grid-container {
        grid-template-columns: repeat(1, 5fr);
        grid-template-rows: auto;
        justify-content: center;
        padding-left: 1.5%;
        padding-right: 2%;
        padding-bottom: 11%;
        max-width: 100%;
    }

    .grid-container img {
        width: 100%;
        height: 100%;
    }

    .grid-container-tarjetas {
        grid-template-columns: repeat(1, 3fr);
        display: grid;
        text-align: center;
        justify-content: center;
        gap: 1%;
        padding-right: 3%;
        padding-left: 3%;
        margin-bottom: 15%;
    }

    #carouselExampleDark {
        width: 92%;
        height: 150px;
        margin-left: 4%;
        margin-bottom: 9%;
    }

    .carousel-indicators {
        margin-bottom: -18%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin-bottom: -21%;
    }

    .btn-lg-envios {
        font-weight: 600;
        font-size: .65rem !important;
        padding: 2% 2% !important;
        margin-bottom: -19%;
        transition: color 0.3s;
        transition: transform 0.3s;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .btn-lg-envios :hover {
        color: var(--clr-Secundario);
        transform: scale(1.2);
    }

    .card-text {
        padding-top: 5%;
        padding-bottom: 8%;
        padding-right: 3%;
        padding-left: 3%;
        font-size: 1rem;
        text-align: center;
    }

    .btn-lg {
        font-weight: 600;
        font-size: 1.15rem;
        transition: color 0.3s;
        transition: transform 0.3s;
    }

    .btn-lg:hover {
        color: var(--clr-Secundario);
        transform: scale(1.2);
    }

    .tarjetas-fondo {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .imagen-video {
        gap: 2%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 18%;
    }

    .tarjeta-imagen {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .card-video {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 11%;
        padding-bottom: 12%;
    }

    .titulo-cuidadobarras {
        font-size: 2.1rem;
        text-align: center;
        color: var(--clr-Secundario);
        font-weight: 600;
    }

    .Texto-CuidadoBarras {
        text-align: center;
        margin: 0 auto;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 3%;
    }

    .container-barras img {
        width: 100%;
    }

    #reembolso {
        margin-right: 70%;
    }

    .politicas-responsive {
        width: fit-content;
        height: fit-content;
        justify-content: center;
        margin-right: 33%;
    }

    .politicas-reembolso-responsive {
        width: fit-content;
        height: fit-content;
        justify-content: center;
        margin-left: 20%;
    }

    .accordion {
        width: 390px;
    }

    .container-fluid-footer {
        text-align: center;
    }

    .text-footer-cana {
        color: var(--clr-Fondo);
        font-weight: 600;
        padding-left: 5%;
    }

    .qr {
        margin-left: 5%;
        border-radius: 0;
    }

    .texto-terminos,
    .text-footer {
        color: var(--clr-Fondo);
        margin-left: 8%;
    }

    .texto-terminos {
        font-size: 1rem;
    }

    .marca-mexicana {
        padding-inline-end: 12.5%;
    }

    .text-footer-redes {
        color: var(--clr-Fondo);
        font-weight: 600;
        margin-right: 89px;
    }

    .redes-sociales {
        margin-left: 33%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 29%;
        margin-bottom: 15px;
    }

    .redes-sociales-responsive {
        color: var(--clr-Fondo);
        margin-left: 0;
    }
}