@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--clr-Secundario)
}

h2 {
    font-size: 1.45rem;
    font-weight: 600;
    text-align: center;
    color: var(--clr-Secundario)
}

h3 {
    color: var(--clr-Secundario);
    font-size: 1.4rem;
    text-align: center;
}

p,
li {
    font-size: 1.4rem;
    font-weight: 500;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 101px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #F9F8EC, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.banner-mascotas {
    padding-top: 4rem;
    width: 80%;
    margin-left: 8.5rem;
    padding-bottom: 5rem;
}

.texto-mascotas {
    font-size: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: .5rem;
    margin-left: 11rem;
    margin-right: 11rem;
    text-align: justify;
    text-justify: inter-word;
}

.row-galeria {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(1, 3fr);
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right: 9%;
    padding-left: 11%;
}

.column {
    flex: 50%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 18px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 1rem;
    width: 20rem;
    height: 20rem;
}

.zoomable {
    transition: transform 0.5s;
}

.zoomable:hover {
    transform: scale(1.2);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.text-footer {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.qr {
    border-radius: .3rem;
}

.texto-terminos {
    font-size: .89rem;
}

.redes-sociales {
    margin-bottom: 1.5%;
}

/* media queries */
@keyframes flotar-item {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@media screen and (max-width: 750px) {
    .column {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (max-width: 400px) {
    .column {
        grid-template-columns: repeat(1, 1fr);
    }
}