@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h3 {
    color: var(--clr-Secundario);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 101px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #F9F8EC, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    transition: color 0.3s;
}

.btn:hover {
    color: var(--clr-Secundario);
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
    transition: color 0.3s;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.banner-mascotas {
    padding-top: 4rem;
    width: 80%;
    margin-left: 8.5rem;
    padding-bottom: 5rem;
}

.texto-mascotas {
    font-size: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: .5rem;
    margin-left: 11rem;
    margin-right: 11rem;
    text-align: justify;
    text-justify: inter-word;
}

.row-galeria {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(1, 3fr);
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right: 9%;
    padding-left: 11%;
}

.column {
    flex: 50%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 18px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 1rem;
    width: 20rem;
    height: 20rem;
}

.zoomable {
    transition: transform 0.5s;
}

.zoomable:hover {
    transform: scale(1.2);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.text-footer {
    color: var(--clr-Fondo);
    font-weight: 500;
}

.qr {
    border-radius: .3rem;
}

.texto-terminos {
    font-size: 1rem;
}

.redes-sociales {
    margin-bottom: 1.5%;
}

/* media-queries */

/* Tablet */
@media (min-width: 768px) and (max-width: 968px) {
    h1 {
        text-align: center;
    }

    .navbar-toggler {
        margin-inline-end: 25%;
        size: 35px;
    }

    #numero {
        margin-bottom: 4%;
        margin-inline-start: 25.5%;
    }

    .banner-mascotas {
        width: 67%;
        margin-left: 5%;
    }

    .titulo-mascotas {
        width: 67%;
        margin-left: 5%;
    }

    .texto-mascotas {
        width: 67%;
        margin-left: 5%;
    }

    .row-galeria {
        margin-right: 25%;
        justify-content: center;
    }

    .row-galeria img {
        width: 160px;
        height: 160px;
        justify-content: center;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 25%;
    }

    .qr {
        padding-inline-start: 3%;
    }

    .marca-mexicana {
        padding-inline-end: 7%;
    }

    .redes-sociales-iconos {
        padding-inline-start: 20px;
    }
}

/* Celular */
@media (min-width: 400px) and (max-width: 767.98px) {
    h1 {
        text-align: center;
    }

    .navbar-toggler {
        margin-inline-end: 5%;
        size: 35px;
    }

    #numero {
        margin-bottom: 4%;
        margin-inline-start: 25.5%;
    }

    .banner-mascotas {
        width: 90%;
        margin-left: 5%;
        margin-right: 4%;
    }

    .titulo-mascotas {
        width: 90%;
        margin-left: 5%;
    }

    .texto-mascotas {
        width: 90%;
        margin-left: 5%;
    }

    .row-galeria {
        margin-right: 3%;
        justify-content: center;
    }

    .column {
        width: 50%;
        grid-template-columns: 2fr;
    }

    .container-fluid-footer {
        text-align: center;
    }

    .qr {
        margin-left: 2%;
        margin-bottom: 15px;
    }

    .marca-mexicana {
        margin-right: 10%;
    }

    .redes-sociales-iconos {
        margin-left: 225%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 18%;
    }
}