@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: #fff;
    --clr-Texto: #000;
    --clr-Whatsapp: #54B036;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    min-height: 100vh;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h6 {
    color: var(--clr-Secundario);
    font-weight: 600;
    font-size: 1rem;
}

.navbar {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
}

.trash {
    color: var(--clr-Principal);
    padding-top: .9rem;
    font-size: 33px;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--clr-FondoSecundario);
    padding-top: 9%;
    padding-bottom: 2%;
    padding-right: 1%;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-Secundario);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    font-size: 2.8rem;
    text-align: center;
    padding-right: 5%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    color: var(--clr-Secundario);
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: .95rem;
    font-weight: 600;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-Principal);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-Principal);
}

#principal {
    background-color: var(--clr-Fondo);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-Secundario);
    margin-bottom: 4rem;
    text-align: center;
    font-size: 3.8rem;
}

.buscar input {
    width: 25rem;
    height: 35px;
    padding: 10px;
    margin-left: 1%;
    font-size: .80rem;
    font-weight: 600;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 20px;
    margin-bottom: 2%;
}

.filtro-precio,
#btn-mas-vendidos,
#btn-nuevos {
    background-color: var(--clr-Secundario);
    color: var(--clr-Fondo);
    border-style: none;
    width: 8.5rem;
    height: 2rem;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 45px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 2rem;
}

.filtro-precio:hover,
#btn-mas-vendidos:hover,
#btn-nuevos:hover {
    color: var(--clr-FondoSecundario);
    font-weight: 600;
    transition: color .2s;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.row {
    align-items: center;
}

.producto-imagen {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 1rem;
    margin-bottom: .8rem;
}

.featherlight .featherlight-content {
    background-color: rgba(204, 134, 97, 0.5);
    /* rgba tránslucido color secundario rgba(51, 74, 97, 0.5);*/
    margin-top: 3%;
    border-radius: 1%;
}

.card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .80rem;
    padding-right: .75rem;
    border-radius: 1rem;
    height: auto;
    text-justify: inter-word;
    background-color: var(--clr-Aside-Texto);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.card-body {
    width: 24.7rem;
    margin-top: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    border-style: none;
    width: 8.5rem;
    margin-top: .2rem;
    font-weight: 600;
}

.btn:hover {
    color: var(--clr-Secundario);
    transition: color .2s;
}

.detalles {
    padding-left: .55rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    text-justify: inter-word;
}

.producto-contenido {
    display: flex;
    flex-direction: column;
    color: var(--clr-Texto);
    padding-left: .75rem;
    gap: .80rem;
    line-height: 100%;
    justify-content: center;
    text-align: center;
}

.producto-titulo {
    font-size: 1rem;
    margin-left: 4%;
}

#mangoaloe50,
#avenacoco50,
#cacao50,
#cacao100,
#karite100,
#lavandaromero100,
#avenacoco100,
#mangoaloe100,
#verde30,
#blanca30,
#bentonita30,
#verde40,
#blanca40,
#bentonita40,
#cremaHumectante50,
#cremaHumectante100,
#cepillos,
#jabonManos,
#luffa,
#shampooPeludos65,
#shampooPeludos130,
#peludos1 {
    margin-top: 6%;
}

.producto-titulo b {
    color: var(--clr-Secundario);
}

.ingredientes {
    color: var(--clr-Secundario);
    font-size: 0.73rem;
    font-weight: 500;
    padding-left: 5%;
    margin-right: 1%;
}

.producto-agregar {
    border: 0;
    border-radius: .50rem;
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
    padding: .5rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--clr-Principal);
    transition: color .2s;
    width: 13rem;
    margin-left: 12%;
    margin-right: auto;
    font-weight: 600;
}

.producto-agregar:hover {
    color: var(--clr-Secundario);
    transition: color .2s;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

.text-footer {
    color: var(--clr-Fondo);
}

.text-footer-cana {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.text-footer-redes {
    color: var(--clr-Fondo);
    font-weight: 600;
    padding-left: 16px;
}

.qr {
    border-radius: .3rem;
    display: flex;
    top: 30%;
}

.texto-terminos {
    font-size: 1rem;
}

.redes-sociales {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.redes-sociales:hover {
    color: var(--clr-Secundario);
}

/* media-queries */

/* PC */
@media (min-width: 1680px) {

    * {
        font-size: 19.9px;
    }

    .navbar {
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }

    .logo {
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
        padding-right: 5%;
    }
    
    .menu {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        gap: .50rem;
    } 

    .boton-menu {
        font-size: 1.2rem;
    }

    .material-symbols-outlined {
        font-size: 35px;
    }

    .producto-agregar {
        margin-left: 11.5%;
    }
}

@media (min-width: 1600px){

    * {
        font-size: 18.9px;
    }

    #wrapper{
        padding-bottom: 8%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 968px) {

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 66%;
    }

    #wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-top: 8%;
        padding-right: 0%;
    }

    #textobienvenida {
        font-weight: 600;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 30%;
        padding-bottom: 15%;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-FondoSecundario);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        margin-right: 50%;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .menu {
        gap: .1rem;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-Secundario);
        margin-left: 32%;
        margin-bottom: 3%;
        font-size: 3.3rem;
    }

    .list {
        color: var(--clr-Secundario);
        font-size: 2.2rem;
    }

    .close-circle {
        color: var(--clr-Principal);
        font-size: 3rem;
    }

    .open-menu {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin-right: 24%;
        margin-top: -1%;
    }

    .boton-categoria {
        font-size: 1rem;
    }

    .close-menu {
        background-color: transparent;
        border: 0;
        font-weight: 600;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 9rem;
        right: 1rem;
        margin-right: -50%;
    }

    #principal {
        margin: 1rem;
        margin-top: 0;
        padding: 1rem;
    }

    .titulo-principal {
        margin-bottom: 2.5rem;
        font-size: 3rem;
    }

    .buscar {
        text-align: center;
        margin-right: 23%;
    }

    .buscar input {
        width: 17rem;
        margin-bottom: 25px;
        margin-right: 5%;
    }

    .filtro-precio,
    #btn-mas-vendidos,
    #btn-nuevos {
        width: 7.5rem;
        margin-top: 10px;
        margin-bottom: .80rem;
        margin-left: 6px;
        margin-right: 1px;
        font-size: .95rem;
    }

    .producto-imagen {
        width: 8rem;
        height: 8rem;
        margin-left: 88%;
    }

    .btn {
        margin-left: 85%;
        margin-bottom: 20%;
    }

    .card {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: .80rem;
        padding-right: .75rem;
        height: 98%;
    }

    .card-body {
        width: 17rem;
        margin-top: .8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
    }

    .contenedor-productos {
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        text-align: center;
        gap: .8rem;
    }

    .ingredientes {
        margin-right: 1.8%;
    }

    .producto-contenido {
        margin-left: 15%;
    }

    .collapse-horizontal {
        margin-left: 18px;
    }

    .producto-agregar {
        margin-left: -2%;
        margin-top: 3%;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .text-footer-cana {
        padding-inline-end: 50%;
    }

    .qr {
        padding-inline-start: 6%;
        border-radius: 0;
    }

    .marca-mexicana {
        padding-inline-end: -6%;
        padding-right: 80px;
    }

    .text-footer-redes {
        padding-right: 34%;
    }

    .redes-sociales {
        padding-left: 12%;
    }

    .redes-sociales-responsive {
        padding-left: 0;
    }
}

/* Celular */
@media (min-width: 390px) and (max-width: 767.98px) {

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 58%;
    }

    #wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-top: 18%;
    }

    #textobienvenida {
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
        padding-right: 7%;
        padding-top: 35%;
        padding-bottom: 11%;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-FondoSecundario);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        margin-right: 30%;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .menu {
        gap: .2rem;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-Secundario);
        margin-left: 8%;
        margin-bottom: 3%;
    }

    .list {
        color: var(--clr-Secundario);
        font-size: 2.2rem;
    }

    .close-circle {
        color: var(--clr-Principal);
        font-size: 3rem;
    }

    .open-menu {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin-right: 18%;
    }

    .close-menu {
        background-color: transparent;
        border: 0;
        font-weight: 600;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 8rem;
        right: 1rem;
        margin-right: -38%;
    }

    #principal {
        margin: 1rem;
        margin-top: 0;
        padding: 1rem;
    }

    .titulo-principal {
        margin-bottom: 2.5rem;
        font-size: 3rem;
    }

    .buscar {
        text-align: center;
        margin-right: 2%;
    }

    .buscar input {
        width: 17rem;
        margin-bottom: 25px;
        margin-right: 5%;
    }

    .filtro-precio,
    #btn-mas-vendidos {
        width: 8.5rem;
        margin-top: 10px;
        margin-bottom: .80rem;
        margin-left: 8px;
        margin-right: 4px;
    }

    #btn-nuevos {
        background-color: var(--clr-Secundario);
        color: var(--clr-Fondo);
        width: 8.5rem;
        margin-top: 10px;
        margin-bottom: .80rem;
        margin-left: 80px;
    }

    .contenedor-productos {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .producto-imagen {
        margin-left: 5%;
    }

    .btn {
        margin-left: 25.5%;
        margin-bottom: 7%;
    }

    .ingredientes {
        margin-right: 1.8%;
    }

    .card {
        padding-right: 1.7rem;
    }

    .card-body {
        width: 15rem;
        margin-top: .8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
    }

    .collapse-horizontal {
        margin-left: 18px;
    }

    .producto-agregar {
        margin-left: 10%;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .qr {
        margin-left: 21%;
        border-radius: 0;
    }

    .texto-terminos,
    .text-footer {
        margin-left: 8%;
    }

    .marca-mexicana {
        padding-inline-end: 12.5%;
    }

    .text-footer-redes {
        color: var(--clr-Fondo);
        font-weight: 600;
        margin-right: 100px;
    }

    .redes-sociales {
        margin-left: 33%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 29%;
        margin-bottom: 15px;
    }

    .redes-sociales-responsive {
        color: var(--clr-Fondo);
        margin-left: 0;
    }
}

/* celular */
@media (min-width: 350px) and (max-width: 389px) {

    #numero {
        top: 87%;
        position: absolute;
        margin-right: 57%;
    }

    #wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-top: 18%;
    }

    #textobienvenida {
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        padding-right: 7%;
        padding-top: 45%;
        padding-bottom: 15%;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-FondoSecundario);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        margin-right: 30%;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .menu {
        gap: .3rem;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-Secundario);
        margin-left: 6%;
        margin-bottom: 3%;
    }

    .list {
        color: var(--clr-Secundario);
        font-size: 2.2rem;
    }

    .close-circle {
        color: var(--clr-Principal);
        font-size: 3rem;
    }

    .open-menu {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin-right: 16%;
    }

    .boton-categoria {
        font-size: .79rem;
    }

    .close-menu {
        background-color: transparent;
        border: 0;
        font-weight: 600;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 8.2rem;
        right: 1rem;
        margin-right: -38%;
    }

    #principal {
        margin: 1rem;
        margin-top: 0;
        padding: 1rem;
    }

    .titulo-principal {
        margin-bottom: 2.5rem;
        font-size: 3rem;
    }

    .buscar {
        text-align: center;
        margin-right: 2%;
    }

    .buscar input {
        width: 14rem;
        margin-bottom: 25px;
    }

    .filtro-precio,
    #btn-mas-vendidos {
        width: 7.8rem;
        margin-top: 10px;
        margin-bottom: .80rem;
        margin-left: 4px;
    }

    #btn-nuevos {
        background-color: var(--clr-Secundario);
        color: var(--clr-Fondo);
        width: 8.5rem;
        margin-top: 10px;
        margin-bottom: .80rem;
        margin-left: 65px;
    }

    .contenedor-productos {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .producto-imagen {
        margin-left: 5%;
    }

    .btn {
        margin-left: 22%;
        margin-bottom: 7%;
    }

    .ingredientes {
        margin-right: 2%;
    }

    .card {
        padding-right: 1.7rem;
    }

    .card-body {
        width: 12.8rem;
        margin-top: .8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
    }

    .collapse-horizontal {
        margin-left: 18px;
    }

    .producto-agregar {
        margin-left: 4%;
    }

    .container-fluid-footer {
        align-items: flex-start;
        text-align: center;
        padding-inline-end: 5%;
    }

    .qr {
        margin-left: 21%;
        border-radius: 0;
    }

    .texto-terminos,
    .text-footer {
        margin-left: 8%;
    }

    .marca-mexicana {
        padding-inline-end: 12.5%;
    }

    .text-footer-redes {
        color: var(--clr-Fondo);
        font-weight: 600;
        margin-right: 100px;
    }

    .redes-sociales {
        margin-left: 33%;
        justify-content: center;
    }

    .cana-footer {
        margin-top: 15px;
        margin-left: 29%;
        margin-bottom: 15px;
    }

    .redes-sociales-responsive {
        color: var(--clr-Fondo);
        margin-left: 0;
    }
}