.card{
  max-width: 950px;
  padding-bottom: 2%;
}

.lista2{
  margin-left: 3px;
}

.col-md-4 {
  margin-bottom: -2%;
}


.options {
  display: inline-block;
  width: 120px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.options input[type="radio"] {
  display: none;
}

.options input[type="radio"]:checked + .label {
  background-color: #334A61;
}

label {
  display: inline-block;
  width: 150px;
  height: 55px;
  text-align: center;
  background-color: #CC8661;
  border-radius: 5px;
}

.label b {
  font-weight: bold;
  color: white;
}

.cantidad {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botones {
  display: flex;
  gap: 15px;
  background-color: transparent;
}


ion-icon{
font-size: 20px;
}
.icono-color{
  color: #CC8661;
}
.icono-color:hover{
  color: #334A61;
}