@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h6 {
    color: var(--clr-Secundario);
    font-weight: 600;
    font-size: 1rem;
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito{
    margin-bottom: 80%;
    right: 20%;
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
}

.trash {
    color: var(--clr-Principal);
    padding-top: .9rem;
    font-size: 33px;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--clr-FondoSecundario);
    padding-top: 9%;
    padding-bottom: 2%;
}

.aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-Secundario);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 100;
    font-size: 2.8rem;
    text-align: center;
    padding-right: 5%;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    border-style: none;
}

.btn:hover {
    color: var(--clr-Secundario);
    transition: color .2s;
}

.buscar input {
    width: 15rem;
    height: 28px;
    padding: 10px;
    font-size: .80rem;
    font-weight: 600;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    color: var(--clr-Secundario);
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-Principal);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-Principal);
}

.boton-carrito {
    margin-top: 2rem;
}

.boton-carrito.active {
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
}

.carrito-2 {
    padding-top: 18rem;
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
    padding-top: 15rem;
}

.main {
    background-color: var(--clr-Fondo);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-Secundario);
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.row {
    align-items: start;
}

.producto-imagen {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 1rem;
    margin-bottom: .8rem;
}

.card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .50rem;
    padding-right: .75rem;
    border-radius: 1rem;
    height: auto;
    text-justify: inter-word;
}

.detalles {
    padding-left: .55rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    text-justify: inter-word;
}

.producto-contenido {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--clr-Texto);
    padding-left: .75rem;
    gap: .80rem;
    line-height: 100%;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-titulo b {
    color: var(--clr-Secundario);
}

.ingredientes {
    color: var(--clr-Secundario);
    font-size: 0.73rem;
    font-weight: 500;
}

.producto-agregar {
    border: 0;
    border-radius: .50rem;
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
    padding: .4rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--clr-Principal);
    transition: color .2s;
}

.producto-agregar:hover {
    color: var(--clr-Secundario);
    transition: color .2s;
}


/* carrito */

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-Principal);
    font-size: medium;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;
    background-color: var(--clr-LogoFondo);
    color: var(--clr-Texto);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 10px;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto-titulo,
.carrito-producto-cantidad,
.carrito-producto-precio,
.carrito-producto-subtotal {
    width: 50%;
    text-align: center;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-Principal);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-Secundario);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-LogoFondo);
    padding: 1rem;
    color: var(--clr-Texto);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-Principal);
    padding: 1rem;
    color: var(--clr-Fondo);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.carrito-acciones-comprar:hover {
    color: var(--clr-Secundario);
    transition: color .2s;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

.text-footer {
    color: var(--clr-Fondo);
}

.texto-terminos{
    font-size: .92rem;
}

.redes-sociales{
    margin-bottom: 1.5%;
}

/* media queries */
@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-FondoSecundario);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-Secundario);
    }

    .open-menu,
    .close-menu {
        background-color: transparent;
        color: var(--clr-Secundario);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}