@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: #fff;
    --clr-Texto: #000;
    --clr-Whatsapp: #54B036;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    min-height: 100vh;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h6 {
    color: var(--clr-Secundario);
    font-weight: 600;
    font-size: 1rem;
}

.navbar {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
}

.trash {
    color: var(--clr-Principal);
    padding-top: .9rem;
    font-size: 33px;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--clr-FondoSecundario);
    padding-top: 9%;
    padding-bottom: 2%;
    padding-right: 1%;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-Secundario);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    font-size: 2.8rem;
    text-align: center;
    padding-right: 5%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    color: var(--clr-Secundario);
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: .95rem;
    font-weight: 600;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-Principal);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-Principal);
}

#principal {
    background-color: var(--clr-Fondo);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-Secundario);
    margin-bottom: 4rem;
    text-align: center;
    font-size: 3.8rem;
}

.buscar input {
    width: 25rem;
    height: 35px;
    padding: 10px;
    margin-left: 1%;
    font-size: .80rem;
    font-weight: 600;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 20px;
    margin-bottom: 2%;
}

.filtro-precio,
#btn-mas-vendidos,
#btn-nuevos {
    background-color: var(--clr-Secundario);
    color: var(--clr-Fondo);
    border-style: none;
    width: 8.5rem;
    height: 2rem;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 20px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 2rem;
}

.filtro-precio:hover,
#btn-mas-vendidos:hover,
#btn-nuevos:hover {
    color: var(--clr-FondoSecundario);
    font-weight: 600;
    transition: color .2s;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.row {
    align-items: center;
}

.producto-imagen {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 1rem;
    margin-bottom: .8rem;
}

.featherlight .featherlight-content {
    background-color: rgba(204, 134, 97, 0.5);
    /* rgba tránslucido color secundario rgba(51, 74, 97, 0.5);*/
    margin-top: 3%;
    border-radius: 1%;
}

.card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .80rem;
    padding-right: .75rem;
    border-radius: 1rem;
    height: auto;
    text-justify: inter-word;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.card-body {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    border-style: none;
    width: 8.5rem;
    margin-top: .2rem;
    font-weight: 600;
}

.btn:hover {
    color: var(--clr-Secundario);
    transition: color .2s;
}

.detalles {
    padding-left: .55rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    text-justify: inter-word;
}

.producto-contenido {
    display: flex;
    flex-direction: column;
    color: var(--clr-Texto);
    padding-left: .75rem;
    gap: .80rem;
    line-height: 100%;
    justify-content: center;
    text-align: center;
}

.producto-titulo {
    font-size: 1rem;
}

#mangoaloe50,
#avenacoco50,
#cacao50,
#cacao100,
#karite100,
#lavandaromero100,
#avenacoco100,
#mangoaloe100,
#verde30,
#blanca30,
#bentonita30,
#verde40,
#blanca40,
#bentonita40,
#cremaHumectante50,
#cremaHumectante100,
#cepillos,
#jabonManos,
#luffa,
#shampooPeludos65,
#shampooPeludos130,
#peludos1 {
    margin-top: 6%;
}

.producto-titulo b {
    color: var(--clr-Secundario);
}

.ingredientes {
    color: var(--clr-Secundario);
    font-size: 0.73rem;
    font-weight: 500;
    padding-left: 5%;
    margin-right: 1%;
}

.producto-agregar {
    border: 0;
    border-radius: .50rem;
    background-color: var(--clr-Principal);
    color: var(--clr-Fondo);
    padding: .5rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--clr-Principal);
    transition: color .2s;
    width: 13rem;
    margin-left: 12%;
    margin-right: auto;
    font-weight: 600;
}

.producto-agregar:hover {
    color: var(--clr-Secundario);
    transition: color .2s;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

.text-footer {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.qr {
    border-radius: .3rem;
}

.texto-terminos {
    font-size: .89rem;
}

.redes-sociales {
    margin-bottom: 1.5%;
}

/* media queries */
@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-FondoSecundario);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-Secundario);
    }

    .open-menu,
    .close-menu {
        background-color: transparent;
        color: var(--clr-Secundario);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}