@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #CC8661;
    --clr-Secundario: #334A61;
    --clr-SecundarioVariante: #36475B;
    --clr-Fondo: #F9F8EC;
    --clr-FondoSecundario: #FFF1DE;
    --clr-LogoFondo: #E5DAD3;
    --clr-Aside-Texto: White;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h3 {
    color: var(--clr-Secundario);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    height: auto;
    padding-top: 101px;
    scroll-behavior: smooth;
    background-image: linear-gradient(135deg, #E5DAD3, #FFF1DE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}

@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.navbar-light {
    background-color: var(--clr-Principal);
}

.nav-link {
    color: var(--clr-Fondo);
    font-weight: 600;
    font-size: 1.15rem;
}

.nav-link:hover {
    color: var(--clr-Secundario);
}

.nav-item {
    position: relative;
}

.container-fluid {
    background-color: var(--clr-Principal);
    padding-left: 2%;
    padding-right: 3%;
}

.badge {
    font-size: small;
    position: relative;
}

.badge-light {
    background-color: var(--clr-Secundario);
}

.numerito {
    margin-bottom: 85%;
    right: 25%;
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
}

.btn:hover {
    color: var(--clr-Secundario);
}

ion-icon {
    color: var(--clr-Fondo);
    font-size: 30px;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.texto-inicio {
    padding: 7% 10%;
    text-align: justify;
    font-size: 1.8rem;
    padding-bottom: 0%;
}

#clientes {
    color: var(--clr-Texto);
    padding-bottom: 10%;
}

.carousel-item {
    padding: 7% 15%;
}

.clientes-imagen {
    width: 11rem;
    height: 11rem;
    margin: 25px;
}

.clientes-texto {
    padding-top: 4.5%;
    font-weight: 600;
    text-align: justify;
}

.text-footer {
    color: var(--clr-Fondo);
    font-weight: 600;
}

.qr {
    border-radius: .3rem;
}

.texto-terminos {
    font-size: .89rem;
}

.redes-sociales {
    margin-bottom: 1.5%;
}