// Sass no funciona, no se refleja bien, falta arreglarlo

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
h1 {
	margin: 0;
	font-size: 3.5rem;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
h2 {
	margin: 0;
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #334A61;
}
h3 {
	margin: 0;
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #334A61;
}
h5 {
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
}
.Texto-Tarjetas {
	padding-top: 1.5%;
	font-size: 1rem;
	font-family: 'Gadugi', sans-serif;
	text-align: center;
	text-justify: inter-word;
}
.Texto-Principal-div {
	padding-top: 3.5%;
	padding-bottom: 3%;
}
.Texto-Principal {
	padding-top: 1%;
	font-size: 1.3rem;
	font-family: 'Gadugi', sans-serif;
	margin-left: 60px;
	margin-right: 60px;
	text-align: justify;
	text-justify: inter-word;
}
.Texto-CuidadoBarras {
	padding-top: 1%;
	font-size: 1.5rem;
	font-family: 'Gadugi', sans-serif;
	margin-left: 60px;
	margin-right: 60px;
	text-align: center;
}
.offcanvas {
	background-color: #CC8661;
	color: #F9F8EC;
}
.navbar-light {
	background-color: #CC8661;
}
.nav-link {
	&:hover {
		color: #334A61;
	}
	color: #F9F8EC;
	font-family: 'Gadugi', sans-serif;
}
.dropdown-menu {
	background-color: #CC8661;
}
.dropdown-item {
	&:hover {
		color: #334A61;
	}
}
.btn {
	background-color: #CC8661;
	color: #F9F8EC;
}
.carrito {
	color: #F9F8EC;
}
.text-footer {
	color: #F9F8EC;
}
.container-fluid {
	background-color: #CC8661;
}
ion-icon {
	font-size: 28px;
}
.buscar {
	input {
		max-width: 180px;
		height: 28px;
		padding: 10px;
		font-size: 17px;
		font-weight: 600;
		color: #000;
		outline: none;
		border: 1px solid silver;
		border-radius: 30px;
		margin-left: 18px;
	}
}
body {
	min-height: 100vh;
	height: auto;
	padding-top: 101px;
	scroll-behavior: smooth;
	background-image: linear-gradient(135deg, #F9F8EC, #FFF1DE);
	background-size: 500%;
	animation: fanimado 10s infinite;
	font-family: 'Gadugi', sans-serif;
}
.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
	width: auto;
	height: auto;
	padding: 3% 2%;
}
.card-video {
	text-align: center;
	width: 450px;
	height: 600px;
}
.grid-container {
	display: grid;
	text-align: center;
	grid-template-columns: auto;
	grid-gap: 10px;
	padding-top: 2%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 16px;
	overflow-x: auto;
	img {
		width: 100%;
	}
}
#cuidado_caná {
	display: flex;
	text-align: center;
	object-fit: cover;
	padding-top: 60px;
	width: 104%;
	height: 500px;
}
.banner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.banner-img {
	width: 33.33%;
	height: 100%;
	object-fit: cover;
}
.center-img {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 680px;
}
.banner-text {
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F9F8EC;
}
.container-barras {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5%;
	padding-top: 0%;
	img {
		width: 100%;
	}
}
.item-barras {
	padding-top: 0%;
	width: 50%;
	justify-content: center;
}
#información {
	padding: 100px;
	padding-top: 3.6%;
	padding-bottom: 3.5%;
	text-align: center;
}
.info-column {
	padding: 3% 2%;
}
.title {
	text-align: center;
	font-size: 40px;
	color: #6a6a6a;
	margin-top: 100px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}
.nav-item {
	position: relative;
}
.badge-light {
	background-color: #334A61;
}
.badge {
	font-size: small;
	position: absolute;
}
.column {
	float: left;
	width: 25%;
	text-align: center;
	padding: 10px;
}
.row {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}
@media screen and (max-width:480px) {
	h1 {
		text-align: center;
	}
	.navbar-custom {
		height: auto;
	}
	.lista-diferenciales {
		width: 100%;
	}
	.imagen-diferenciales {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.banner-img {
		width: 100%;
		height: auto;
	}
	.center-img {
		width: 100%;
		height: auto;
	}
	.banner-text {
		width: 100%;
		height: auto;
	}
	.img-fluid {
		width: 100%;
		height: auto;
	}
}
@media (min-width: 769px) {
	.grid-container {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto;
		justify-items: center;
	}
}
@media (max-width: 600px) {
	.item-barras {
		width: 100%;
	}
}

